<!DOCTYPE html>
<html lang="en" color-mode="user">
    <head>
        <link rel="icon" href="https://via.placeholder.com/70x70">
        <link rel="stylesheet" href="{{ cssUrl }}">

        <meta charset="utf-8">
        <meta name="description" content="My description">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ heading }}</title>
    </head>

    <body>
        <header>
            <nav>
                <div>{{ heading }}</div>
                
                <ul>
                    <li><a href="index.html">blogroll</a></li>
                    <li><a href="latest.html">latest</a></li>
                </ul>
            </nav>

            <h1>{{ title }}</h1>
            <p>{{ subtitle }}</p>
        </header>

        <main>
            {{ content | raw }}
        </main>
    </body>
</html>
